on property:sys.boot_completed=1
    chown system system /sys/class/devfreq/ffa30000.rogue-g6110/governor
    chmod 0664 /sys/class/devfreq/ffa30000.rogue-g6110/governor
    chown system system /sys/class/devfreq/ffa30000.rogue-g6110/min_freq
    chmod 0664 /sys/class/devfreq/ffa30000.rogue-g6110/min_freq
    chown system system /sys/class/devfreq/ffa30000.rogue-g6110/max_freq
    chmod 0664 /sys/class/devfreq/ffa30000.rogue-g6110/max_freq
    chown root system /sys/class/devfreq/dmc/governor
    chmod 0664 /sys/class/devfreq/dmc/governor

on early-init
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/frp /dev/block/by-name/frp
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/security /dev/block/by-name/security
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/backup /dev/block/by-name/backup
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/dtb /dev/block/by-name/dtb
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/dtbo /dev/block/by-name/dtbo
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/uboot /dev/block/by-name/uboot
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/super /dev/block/by-name/super
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/trust /dev/block/by-name/trust
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/misc /dev/block/by-name/misc
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/cache /dev/block/by-name/cache
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/boot /dev/block/by-name/boot
     symlink /dev/block/platform/ff0f0000.dwmmc/by-name/recovery /dev/block/by-name/recovery

on early-boot
    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

on boot
    chown system system /sys/class/thermal/thermal_zone0/policy
    chown system system /sys/class/thermal/thermal_zone1/policy
    chown system system /sys/class/thermal/thermal_zone2/policy
    
    # update cpusets feature nodes for rk3368 tablet
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7

    # reduce schedul time to improve io performance
    write /sys/kernel/debug/sched_features NO_ENERGY_AWARE

on init
    # Load persistent dm-verity state
    verity_load_state

    chown root root /sys/class/devfreq/dmc/system_status
    chmod 0666 /sys/class/devfreq/dmc/system_status
